<template>
  <div class="counter-warp">
    <div>
      <a>当前版本: {{update.AppVersion}}</a>
      <a>更新信息: {{update.updateInfo}}</a>
    </div>
    <div v-for="(item, idx) in update.historyUpdateInfo">
      <a>历史版本: {{item.AppVersion}}</a>
      <a>更新信息: {{item.updateInfo}}</a>
    </div>
  </div>
</template>

<script>
import update from '../../config/index.js'

export default {
  data () {
    return {
      update: update
    }
  },
  methods: {
  },
  onShareAppMessage () {
    return {
      title: '心情签签',
      path: '/pages/index/main',
      imageUrl: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230504.jpg'
    }
  }
}
</script>

<style>
</style>
