<template>
  <div class="wrapper">
    <div class="fixed-btn">
      <button class="btn" type="primary" @click="chooseImage" style="width: 90%;background: #3385ff">本地相册/拍照</button>
    </div>
    <ad unit-id="adunit-1a5972a1906cbd48" class="grid-list-ad"></ad>
    <scroll-view scroll-x class="grid-list">
      <img v-for="(item, idx) in colorImage"
           :key="idx"
           @click="chooseHotImage(item)" 
           :src="item" />
    </scroll-view>
    <div class="tab-menu">
      <div class="tab-menu-item" 
        v-for="(item, idx) in menuList"
        :class="{ 'tab-menu-item-active' : idx === currentIdx }"
        :key="idx">{{item.value}}</div>
    </div>
    <div class="grid-hot-list">
      <div class="grid-item" :style="{ 'background' : item.hide ? item.color : '#FFF', 'height' : item.height }" v-for="(item, idx) in hotBackground" v-if="idx % 2 === 0" :key="idx">
        <img mode="widthFix"  :class="{ 'hide-img' : item.hide, 'height': item.height }" @load="item.hide = false" @click="chooseHotImage(item.url)" :src="item.url" />
      </div>
      <div class="grid-item" :style="{ 'background' : item.hide ? item.color : '#FFF', 'height' : item.height }" v-for="(item, idx) in hotBackground" v-if="idx % 2 === 1" :key="idx">
        <img mode="widthFix"  :class="{ 'hide-img' : item.hide }" @load="item.hide = false" @click="chooseHotImage(item.url)" :src="item.url" />
      </div>
    </div>
    <div class="tip-message">{{isEnd ? '图片没有了...试试 本地相册/拍照 👇' : '加载中...试试 本地相册/拍照 👇'}}</div>
    <div style="height: 50px"></div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      hotBackground: [],
      baseUrl: 'https://dscsdoj.top',
      // menuList: [
      //   {
      //     key: 'nature',
      //     value: '风光'
      //   },
      //   {
      //     key: 'film',
      //     value: '摄影'
      //   },
      //   {
      //     key: 'animals',
      //     value: '动物'
      //   },
      //   {
      //     key: 'travel',
      //     value: '旅行'
      //   },
      //   {
      //     key: 'food',
      //     value: '食物'
      //   }
      // ],
      colorImage: [
        'https://img.dscsdoj.top/qianqian-chunse/1.jpg',
        'https://img.dscsdoj.top/qianqian-chunse/2.jpg',
        'https://img.dscsdoj.top/qianqian-chunse/3.jpg',
        'https://img.dscsdoj.top/qianqian-chunse/4.jpg',
        'https://img.dscsdoj.top/qianqian-chunse/5.jpg',
        'https://img.dscsdoj.top/qianqian-chunse/6.jpg'
      ],
      hotTitle: '',
      openAd: false,
      windowSize: wx.getSystemInfoSync(),
      page: 1,
      isEnd: false,
      isLoading: false,
      currentIdx: 0
    }
  },
  computed: {
    ...mapState({
      bookmark: state => state.bookmark
    })
  },
  components: {
  },

  methods: {
    findHotBackground: async function () {
      try {
        if (this.isEnd) return
        if (this.isLoading) return
        this.isLoading = true
        let hotBackgroundResult = await this.$root.$api.findHotBackgroundImage(this.page)
        hotBackgroundResult.data.forEach((item) => {
          item.hide = true
          item.height = this.computedHeight(item)
        })
        this.isLoading = false
        this.page++
        if (hotBackgroundResult.data.length < 6) this.isEnd = true
        this.hotBackground = this.hotBackground.concat(hotBackgroundResult.data)
      } catch (e) {
        this.isLoading = false
      }
    },
    computedHeight: function (item) {
      if (!item.width) return null
      let imgWidth = this.windowSize.windowWidth * 0.47
      let scale = item.width / imgWidth
      return (item.height / scale) + 'px'
    },
    chooseImage: function () {
      wx.chooseImage({
        count: 1,
        success: (res) => {
          this.$store.dispatch('SET_ORIGINSRC', res.tempFilePaths[0])
        }
      })
    },
    chooseHotImage: function (url) {
      url = encodeURI(url)
      this.$store.dispatch('SET_ORIGINSRC', url)
    },
    chooseHaibaiImage: function (url) {
      // 选择表情包时 如果当前用户为卡片thumb形态 则询问用户是否切换至full形态
      if (this.bookmark.model === 'thumb') {
        wx.showModal({
          title: '建议',
          content: '您当前为卡片模式，表情包更适合海报模式，是否切换至海报形式? (点击下方第一个模板按钮即可来回切换)',
          cancelText: '不切换',
          confirmText: '切换',
          success: (res) => {
            if (res.confirm) {
              this.$store.dispatch('SET_BOOKMARK_MODEL', 'full')
              this.chooseHotImage(url)
            }
            if (res.cancel) {
              this.chooseHotImage(url)
            }
          }
        })
      } else {
        this.chooseHotImage(url)
      }
    },
    getHotTitle: async function () {
      let title = await this.$root.$api.getHotTitle()
      this.hotTitle = title.data
    },
    getAdState: async function () {
      let adState = await this.$root.$api.getAdState()
      this.openAd = adState.msg
    }
  },
  onReachBottom () {
    this.findHotBackground()
  },
  onShareAppMessage () {
    return {
      title: '心情签签',
      path: '/pages/index/main',
      imageUrl: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230504.jpg'
    }
  },
  created () {
    this.findHotBackground()
    this.getHotTitle()
    this.getAdState()
  }
}
</script>

<style lang="sass" socped>
.wrapper
  padding: 10px
  .title
    margin-bottom: 5px
.grid-list
  width: 100%;
  border-bottom: 1px solid #EEE;
  padding-bottom: 1vh
  height: 20vh;
  display: flex
  justify-content: center;
  flex-direction: column
  align-items: center;
  white-space: nowrap;
  img
    height: 20vh !important
    width: 40%;
    margin-right: 2vw;
.grid-hot-list
  width: 100%
  column-count: 2
  column-gap: 3px
  .grid-title
    height: 5vh
    text-align: center;
    width: 40%;
  .grid-item
    background: #EEE
    width: 47vw;
    margin-bottom: 1vw
    img
      transition: opacity .6s;
      width: 100%;
  .hide-img
    opacity: 0;
.fixed-btn
  width: 100%;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  .btn
    width: 90%;
    margin: 0 auto 12px
.grid-list-ad
  padding: 1vh 0;
  margin: 1vh 0;
  border-bottom: 1px solid #EEE;
.tip-message
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 10px;
.tab-menu
  padding: 5px;
  margin-bottom: 1vh
  .tab-menu-item
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 6px 5px 6px;
    margin-right: 5px;
    border-radius: 3px;
    color: #555;
  .tab-menu-item-active
    background-color: #334;
    color: #fff;
</style>
