<template>
  <scroll-view class="container-wraper"
    :scroll-y="false"
    :scroll-x="false">
    <!--<button type="primary" v-if="state === 'edit-text'" @click="clearText('SET_BOOKMARK_CONTENT')" class="clear-btn" size="mini">清空文字(请不要在键盘)</button>
    <button type="primary" v-if="state === 'edit-text' && bookmark.showSub" @click="clearText('SET_SUB_BOOKMARK_CONTENT')" class="clear-btn clear-sub-btn" size="mini">清空副文字(拉起时点击)</button> -->
    <!-- <div class="edit-tip" style="color: #AAA" v-show="state === 'main-menu'">
      <div>tip: 滑动文本框移动文本位置</div>
      <div>点击文字进入编辑模式</div>
      <div>样式按钮可修改文字颜色 大小等样式</div>
      <div>单击图片修改背景</div>
    </div> -->
    <preview
      v-if="state !== 'feedback'"
      @clickText="changeMenu('editText')"
      @clickBackground="close"
      :state="state"
      ref="container"></preview>
    <canvasFilter />
    <imageCutout
      ref="image-cutout"
      v-show="bookmark.originSrc"
      @cutout="cutout" />
    <controlbar 
      :state="state"
      @preview="preview"
      @blur="state = 'main-menu'"
      @close="close"
      @save="save"
      @cutoutDone="cutoutDone"
      @changeFilter="changeFilter"
      @cutoutDoneClose="cutoutDoneClose"
      @changeColor="changeColor"
      @changeSubColor="changeSubColor"
      @share="share"
      @changeMenu="changeMenu" ></controlbar>
  </scroll-view>
</template>

<script>
import canvasFilter from '@/components/canvas-filter'
import preview from '@/components/preview'
import controlbar from '@/components/controler-bar'
import imageCutout from '@/components/image-cutout'
import { mapState } from 'vuex'
import utils from '../../utils/index'

export default {
  data () {
    return {
      windowSize: wx.getSystemInfoSync(),
      userInfo: {},
      // 用户选择的图片
      originSrc: '',
      state: 'main-menu'
    }
  },

  computed: {
    ...mapState({
      bookmark: state => state.bookmark
    })
  },

  components: {
    preview,
    controlbar,
    imageCutout,
    canvasFilter
  },

  methods: {
    bindViewTap () {
      const url = '../logs/main'
      wx.navigateTo({ url })
    },
    getUserInfo () {
      // 调用登录接口
      wx.login({
        success: async (res) => {
          if (res.code) {
            // 发起网络请求
            let _res = await this.$root.$api.wxLogin(res.code)
            this.$store.dispatch('SET_OPENID', _res.data)
          } else {
            console.log('登录失败！' + res.errMsg)
          }
        }
      })
    },
    clickHandle (msg, ev) {
      console.log('clickHandle:', msg, ev)
    },
    // 获取剪切板内容
    getClipboardData () {
      // wx.getClipboardData({
      //   success: (res) => {
      //     wx.showToast({
      //       title: '默认获取剪贴板内容为正文内容',
      //       icon: 'none'
      //     })
      //     // 如果未获取剪贴板内容 则默认给一段鸡汤
      //     if (res.data === '' | !res.data) return this.$store.dispatch('SET_BOOKMARK_CONTENT', '想和你重新认识一次 从你叫什么名字说起')
      //     this.$store.dispatch('SET_BOOKMARK_CONTENT', res.data)
      //   }
      // })
    },
    save: function (param) {
      this.bookmark.model === 'thumb' ? this.$refs.container.saveThumb(param[0], param[1]) : this.$refs.container.save(param[1])
    },
    preview: function () {
      this.$refs.container.draw()
      this.state = 'preview'
      this.$nextTick(() => {
        this.bookmark.showPreview = true
      })
    },
    changeImage: function () {
      wx.navigateTo({
        url: '/pages/logs/main'
      })
    },
    editImage: function (url) {
      this.state = 'edit-image'
      this.bookmark.originSrc = url
    },
    close: function () {
      this.state = 'main-menu'
      this.$nextTick(() => {
        this.bookmark.showPreview = false
      })
    },
    clearText: function (type) {
      this.$store.dispatch(type, '')
    },
    // 点击菜单项时触发
    changeMenu: function (e) {
      if (e === 'editFilter') {
        this.$refs.container.draw('filter')
        this.state = 'edit-filter'
        this.$nextTick(() => {
          this.bookmark.showPreview = true
        })
      }
      if (e === 'editLineHeight') {
        this.state = 'edit-line-height'
        wx.showToast({
          title: '进入编辑字间距模式',
          icon: 'none'
        })
      }
      if (e === 'editText') {
        if (this.state !== 'edit-text' && this.state !== 'main-menu') return
        this.state = 'edit-text'
        // wx.showToast({
        //   title: '点击文字编辑文本',
        //   icon: 'none'
        // })
      }
      if (e === 'editColor') {
        this.state = 'edit-color'
        wx.showToast({
          title: '进入编辑文本颜色模式',
          icon: 'none'
        })
      }
      if (e === 'editTextStyle') {
        this.state = 'edit-text-style'
        wx.showToast({
          title: '进入编辑文字样式模式',
          icon: 'none'
        })
      }
      if (e === 'editSubTextStyle') {
        this.state = 'edit-sub-text-style'
        wx.showToast({
          title: '进入编辑副文字样式模式',
          icon: 'none'
        })
      }
      // 展示客服反馈按钮
      if (e === 'feedback') {
        this.state = 'feedback'
      }
      if (e === 'editSize') {
        this.state = 'edit-text-size'
        wx.showToast({
          title: '进入编辑文字大小模式',
          icon: 'none'
        })
      }
      if (e === 'changeImage') {
        this.changeImage()
      }
    },
    /**
     * @method changeFilter 改变滤镜
     */
    changeFilter: function (type) {
      this.$refs.container.filter(type)
    },
    changeColor: function (color) {
      this.$store.dispatch('SET_BOOKMARK_COLOR', color)
    },
    changeSubColor: function (color) {
      this.$store.dispatch('SET_BOOKMARK_SUB_COLOR', color)
    },
    cutoutDone: function () {
      this.$refs['image-cutout'].drawImage()
    },
    cutoutDoneClose: function () {
      this.state = 'main-menu'
      this.bookmark.originSrc = ''
    },
    /**
     * @param path 图片裁剪成功后返回的路径
     */
    cutout: function (path) {
      this.$store.dispatch('SET_BACKGROUND_IMAGE', path)
      this.bookmark.originSrc = ''
      this.state = 'main-menu'
    },
    loadFontFaceFn: function () {
      wx.loadFontFace({
        family: 'Bitstream Vera Serif Bold',
        source: 'url("https://image.tiaozaoj.com/PingFang-SC-Regular.ttf")',
        success: function (res) {
          console.log(res) //  loaded
        },
        fail: function (res) {
          console.log(res) //  error
        },
        complete: function (res) {
          console.log(res)
        }
      })
    },
    // 下载常用1500字 字体文件
    downloadTTF () {
      wx.loadFontFace({
        family: 'PINGFANG-light',
        source: `url("https://img.rr.tv/fe/20180714/o_1531559684223.ttf")`,
        success: (res) => {
          console.log(res)
        },
        fail: (e) => {
          console.log(e)
        },
        complete: (e) => {
          console.log(e)
        }
      })
      // wx.downloadFile({
      //   url: 'https://img.rr.tv/fe/20180714/o_1531559684223.ttf',
      //   success: (res) => {
      //     wx.saveFile({
      //       tempFilePath: res.tempFilePath,
      //       success: (res) => {
      //         console.log(res)

      //       }
      //     })
      //   }
      // })
    },
    async getBookMarkInfo () {
      let bookmark = await this.$root.$api.getBookmark()
      if (bookmark.data.content) this.$store.dispatch('SET_BOOKMARK_CONTENT', bookmark.data.content)
      if (bookmark.data.backgroundImage) {
        wx.downloadFile({
          url: encodeURI(bookmark.data.backgroundImage),
          success: (res) => {
            this.$store.dispatch('SET_BACKGROUND_IMAGE', res.tempFilePath)
          }
        })
      }
    },
    aotuUpdateApp () {
      const updateManager = wx.getUpdateManager()
      updateManager.onCheckForUpdate((res) => {
        console.log(res)
      })

      updateManager.onUpdateReady(function () {
        wx.showModal({
          title: '更新提示',
          content: '新版本已经准备好，是否重启应用？',
          success: function (res) {
            if (res.confirm) {
              // 新的版本已经下载好，调用 applyUpdate 应用新版本并重启
              updateManager.applyUpdate()
            }
          }
        })
      })
    },
    downloadLogoFile () {
      let logoUrl = 'https://img.dscsdoj.top/qianqian-chunse/logo.png'
      wx.downloadFile({
        url: logoUrl,
        success: (res) => {
          this.bookmark.logoTempFilePath = res.tempFilePath
        }
      })
    }
  },
  // onLoad () {
  // // 有问题 暂时废弃
  //   // 调用两次才有反应 奇怪
  //   this.loadFontFaceFn()
  //   this.loadFontFaceFn()
  // },

  created (res) {
    // 调用应用实例的方法获取全局数据
    this.getUserInfo()
    this.aotuUpdateApp()
    let info = wx.getLaunchOptionsSync()
    if (info.scene === 1014) {
      const url = 'pages/logs/main'
      wx.navigateTo({ url })
    }
    // 小程序canvas不支持外部字体
    // this.downloadTTF()
  },
  onShow () {
    if (this.bookmark.originSrc) {
      this.state = 'edit-image'
    }
  },
  onShareAppMessage () {
    return {
      title: '心情签签',
      path: '/pages/index/main',
      imageUrl: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230504.jpg'
    }
  },
  mounted () {
    // 启动时默认读取剪贴板内容
    // this.getClipboardData()
    // 默认使用一段文字展示
    this.$store.dispatch('SET_BOOKMARK_CONTENT', this.bookmark.placeholderText)
    this.$store.dispatch('SET_SUB_BOOKMARK_CONTENT', this.bookmark.subPlaceholderText)
    // 启动后读取更新信息
    utils.setReadUpdateInfo()
    this.$store.dispatch('SET_MODE', 1)
    this.downloadLogoFile()
  }
}
</script>

<style lang="sass">
.clear-btn
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
.clear-sub-btn
  top: 40px
page
  height: 100vh;
  width: 100vw;
  overflow: hidden;

.container-wraper
  height: 100vh;
  width: 100vw;
  overflow: hidden;
.edit-tip
  position: fixed;
  z-index: 5
  color: white;
  text-align: right
  right: 5px;
  top: 5px;
  font-size: 12px;
</style>
