<template>
  <div class="counter-warp">
    <button size="mini" style="position: fixed;right: 15px;top: 15px;z-index: 999"
      @click="setMode(swiperIdx + 1, modelMap[swiperIdx].img_thumb_url, modelMap[swiperIdx].color)">
      使用该模板
    </button>
    <div class="arrow next_arrow" v-if="swiperIdx !== 0" @click="seeNext">👈</div>
    <div class="arrow prev_arrow" v-if="swiperIdx !== 3" @click="seeNext">👉</div>
    <swiper
       @change="swiperChange"
       :style="{ 'height' : isOpenExample ? '70vh' : '100vh' }" 
       class="swiper-wraper">
      <swiper-item v-for="(item, idx) in modelMap" :key="idx" class="swiper-item">
        <image mode="widthFix" @click="setMode(idx + 1, item.img_thumb_url, item.color)" class="slide-image" @load="loadedImg" :src="item.mode_thumb_url" />
      </swiper-item>
    </swiper>
    <div class="example"
      :style="{ 'transform': 'translateY(' + moveY + 'px)', 'transition' : openExampleTransition ? 'all .3s' : 'all 0' }"
      :class="{ 'open-example' : openExample, 'close-example' : closeExample }">
      <div
        @touchstart="touchstart"
        @touchmove="touchmove"
        @touchend="touchend" 
        class="title">优秀范例 👇</div>
      <div class="example-list">
        <img v-for="(item, idx) in exampleList[swiperIdx + 1]"
             @click.stop="previewExamples(exampleList[swiperIdx + 1], idx)"
             :src="item.url" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'mode-select',
  data () {
    return {
      modelMap: [
        {
          color: 'rgb(252, 92, 154)',
          img_thumb_url: 'https://img.dscsdoj.top/egg-multipart-production/mmexport1535420996192.jpg',
          mode_thumb_url: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230510.jpg'
        },
        {
          color: 'rgb(0, 243, 156)',
          img_thumb_url: 'https://img.dscsdoj.top/egg-multipart-production/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180829122010.jpg',
          mode_thumb_url: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230504.jpg'
        },
        {
          color: 'black',
          img_thumb_url: 'https://img.dscsdoj.top/egg-multipart-production/mmexport1534942333689.jpg',
          mode_thumb_url: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230458.jpg'
        },
        {
          color: 'rgb(255, 104, 61)',
          img_thumb_url: 'https://img.dscsdoj.top/egg-multipart-production/mmexport1535420996192.jpg',
          mode_thumb_url: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230432.jpg'
        }
      ],
      openExample: false,
      closeExample: true,
      isOpenExample: true,
      openExampleTransition: false,
      startY: 0,
      moveY: 0,
      windowSize: wx.getSystemInfoSync(),
      swiperIdx: 0,
      exampleList: {
        1: null,
        2: null,
        3: null,
        4: null
      }
    }
  },
  computed: {
    ...mapState({
      bookmark: state => state.bookmark
    })
  },
  methods: {
    /**
     * @method setMode 设置模板
     * @param { Number } type 模板类型 1/2/3/4
     * @param { String } imgThumbUrl 设置对应的背景图片
     * @param { String } color 字体颜色
     */
    setMode (type, imgThumbUrl, color) {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      wx.getImageInfo({
        src: imgThumbUrl,
        success: (res) => {
          this.$store.dispatch('SET_MODE', type)
          this.$store.dispatch('SET_BOOKMARK_COLOR', color)
          wx.hideLoading()
          wx.navigateBack()
        },
        fail: (err) => {
          wx.hideLoading()
          console.log(err)
        }
      })
    },
    seeNext: function () {
      wx.showToast({
        title: '滑动试试~',
        icon: 'none'
      })
    },
    swiperChange: function (e) {
      this.swiperIdx = e.target.current
      this.findExampleByType(e.target.current + 1)
    },
    touchstart: function (e) {
      this.openExampleTransition = false
      this.startY = e.clientY
    },
    touchmove: function (e) {
      let moveY = this.startY - e.clientY
      let maxY = this.windowSize.windowHeight * 0.25
      if (this.isOpenExample) {
        if (moveY > 0) moveY = 0
        if (moveY < -maxY) moveY = -maxY
      } else {
        if (moveY < 0) moveY = 0
        if (moveY > maxY) moveY = maxY
      }
      this.isOpenExample ? this.moveY = -moveY - maxY : this.moveY = -moveY
      this.openExample = false
      this.closeExample = false
    },
    touchend: function (e) {
      this.openExampleTransition = true
      this.isOpenExample = !this.isOpenExample
      this.openExample = false
      this.closeExample = false
      this.isOpenExample ? this.closeExample = true : this.openExample = true
      this.startY = 0
      this.moveY = 0
    },
    findExampleByType: async function (type) {
      if (this.exampleList[type]) return
      let example = await this.$root.$api.findExampleByType(type)
      this.exampleList[type] = example.data
      console.log(this.exampleList[type])
    },
    previewExamples: function (items, idx) {
      let urls = []
      items.map(item => urls.push(item.url))
      wx.previewImage({
        urls: urls,
        current: urls[idx]
      })
    }
  },
  onShareAppMessage () {
    return {
      title: '心情签签',
      path: '/pages/index/main',
      imageUrl: 'https://img.dscsdoj.top/qianqian-mode-thumb/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180918230504.jpg'
    }
  },
  mounted () {
    this.findExampleByType('1')
  }
}
</script>

<style lang="sass" scoped>
.swiper-wraper
  transition: all .3s;
  background: rgba(0, 0, 0, 0.3)
.swiper-item
  display: flex;
  justify-content: center;
  align-items: center;
  .slide-image
    width: 100%;
.example
  position: absolute;
  height: 30vh;
  width: calc(100% - 10px);
  bottom: -25vh;
  background: white;
  padding: 5px
  .title
    text-align: center;
    color: #666;
    height: 5vh
    font-size: 12px;
    line-height: 5vh;
.open-example
  transform: translateY(0vh) !important
.close-example
  transform: translateY(-25vh) !important
.example-list
  display: flex;
  justify-content: space-between;
  flex: none;
  img
    width: 32%;
    height: 25vh;
    background: #EEE;
.arrow
  position: absolute;
  top: 20vh
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
.next_arrow
  left: 5px;
.prev_arrow
  right: 5px;
</style>
