<template>
  <div class="canvas-filter">
    <canvas canvas-id="filter-canvas"></canvas>
  </div>
</template>

<script>
export default {
  name: 'image-filter',
  methods: {
    draw: function () {

    }
  }
}
</script>

<style>
.canvas-filter {
  position: absolute;
  top: 0
}
</style>
