<template>
  <div class="controler-bar-wrap">
    <div class="controler-bar-content">
      <div v-show="state === 'main-menu'" class="bar-cantainer">
        <!--<editBtn @click="enterMode"
          btnTitle="模板"
          background="#d93a49"
          icon="article" />
        </editBtn>-->
        <!-- <editBtn @click="editVertical"
          btnTitle="横竖"
          v-if="bookmark.model === 'thumb'"
          textColor="white"
          background="#FF9900"
          :text="bookmark.isVertical ? '竖' : '横'" />
        </editBtn> -->
        <editBtn @click="emit('changeMenu', 'changeImage')"
          btnTitle="选图"
          textColor="white"
          background="#00ae9d"
          text="图" />
        <!-- <editBtn @click="emit('changeMenu', 'editColor')"
                 btnTitle="颜色"
                 :textColor="bookmark.content.style.color" /> -->
        <!--<editBtn @click="changeModel(1)"
          btnTitle="模板A"
          background="#FF9900"
          icon="article" />
        </editBtn>
        <editBtn @click="changeModel(2)"
          btnTitle="模板B"
          background="#F77370"
          icon="article" />
        </editBtn>
        <editBtn @click="changeModel(3)"
          btnTitle="模板C"
          icon="article" />
        </editBtn>
        <editBtn @click="changeModel(4)"
          btnTitle="模板D"
          background="#6699FF"
          icon="article" /> -->
        <!-- </editBtn> -->
        <editBtn @click="showText"
          text="字"
          background="#F77370"
          :btnTitle="bookmark.showText ? '样式' : '文字'"
          textColor="white" />
        <editBtn @click="emit('preview')" btnTitle="预览"
          background="#70BA69"
          icon="plus-preview" />
        <!-- 客服 -->
        <editBtn background="#7F7F7F" @click="clickFeedback" btnTitle="其他" icon="xiazai46" />
      </div>
      <div v-show="state === 'edit-text'" class="bar-cantainer">
        <div class="edit-input-area">
          <textarea
            v-show="state === 'edit-text'"
            class="edit-input"
            @touchstart="touchstart"
            @touchmove="touchmove"
            auto-focus
            @touchend="touchend"
            placeholder-style="color: black"
            placeholder="在此编辑您要展示的文字哦~"
            :style="{ color: bookmark.content.style.color, 
                    fontSize: bookmark.content.style.fontSize + 'px',
                    //  fontFamily: bookmark.content.style.fontFamily
                    lineHeight: bookmark.content.style.lineHeight + 'em',
                    width: (windowSize.windowWidth * 0.9) + 'px',
                    textAlign: bookmark.content.style.textAlign.name}"
            @blur="blur"
            @input="setBookContent">
          </textarea>
        </div>
        <textarea
          v-show="state === 'edit-text'"
          v-if="bookmark.showSub"
          class="edit-input"
          @touchstart="subTouchstart"
          @touchmove="subTouchmove"
          @touchend="subTouchend"
          placeholder="输入你要展示的文字哦~"
          :style="{ color: bookmark.subContent.style.color, 
                  fontSize: bookmark.subContent.style.fontSize + 'px',
                  //  fontFamily: bookmark.content.style.fontFamily
                  marginTop: 0 + 'px',
                  lineHeight: 1 + 'em',
                  width: (windowSize.windowWidth / 1.2) + 'px',
                  marginLeft: -(windowSize.windowWidth / 2.4) + bookmark.subContent.style.x + 'px',
                  // textAlign: bookmark.content.style.textAlign.name,
                  textAlign: 'center',
                  top: bookmark.subContent.style.y + 'px'}"
          @blur="subContentblur"
          auto-focus
          focus
          @input="setSubBookContent">
        </textarea>
        <editBtn @click="hideText"
                 :btnTitle="bookmark.showText ? '隐藏' : '展示'"
                 text="藏"
                 :textColor="bookmark.content.style.color" />
        <editBtn @click="emit('changeMenu', 'editColor')"
                 btnTitle="颜色"
                 :textColor="bookmark.content.style.color" />
        <editBtn @click="$store.dispatch('SET_TEXT_SHADOW')"
                 text="影"
                 btnTitle="阴影"
                 textColor="white" />
        <editBtn @click="emit('changeMenu', 'editSize')"
                 btnTitle="大小"
                 textColor="white"
                 text="PX" />
        <picker @change="bindTextAlign" :value="1" :range="textAlignRange">
          <editBtn :btnTitle="bookmark.content.style.textAlign.title"
                  textColor="white"
                  :text="bookmark.content.style.textAlign.text" />
        </picker>
        <!--<editBtn @click="textAreaCenter"
                 btnTitle="框居中"
                 textColor="white"
                 text="中" />-->
        <editBtn @click="emit('changeMenu', 'editLineHeight')"
                 text="高"
                 btnTitle="行高"
                 textColor="white" />
        <!--<editBtn @click="$store.dispatch('CHANGE_SHOW_SUB')"
                 text="副"
                 btnTitle="副文字"
                 :textColor="bookmark.content.style.color" />-->
        <editBtn @click="emit('close')" btnTitle="返回" icon="guanbi" />
      </div>
      <div v-show="state === 'preview'" class="bar-cantainer">
        <editBtn @click="emit('save', [false, false])" btnTitle="下载" icon="iconset0237" />
        <editBtn @click="emit('save', [false, true])" btnTitle="查看" icon="plus-preview" />
        <!--<editBtn @click="emit('changeMenu', 'editFilter')"
                 text="滤"
                 btnTitle="滤镜"
                 textColor="white" />-->
        <!--<button open-type="share" class="share-card" style="border: 0px;line-height: 1.2" plain size="mini" >
          <editBtn @click="emit('share')" btnTitle="分享" icon="iconset0237" />
        </button> -->
        <!--<editBtn @click="emit('save', true)" btnTitle="看长图" icon="iconset0237" /> -->
        <editBtn @click="emit('close')" btnTitle="返回" icon="guanbi" />
      </div>
      <scroll-view class="controler-bar-list" scroll-x v-show="state === 'edit-color'">
        <editBtn @click="emit('changeColor', 'white')"
          textColor="white" />
        <editBtn @click="emit('changeColor', 'rgb(0, 243, 156)')"
          textColor="rgb(0, 243, 156)" />
        <editBtn @click="emit('changeColor', 'rgb(119, 204, 255)')"
          textColor="rgb(119, 204, 255)" />
        <editBtn @click="emit('changeColor', '#87481f')"
          textColor="#87481f" />
        <editBtn @click="emit('changeColor', '#102b6a')"
          textColor="#102b6a" />
        <editBtn @click="emit('changeColor', '#27342b')"
          textColor="#27342b" />
        <editBtn @click="emit('changeColor', '#1b315e')"
          textColor="#1b315e" />
        <editBtn @click="emit('changeColor', '#840228')"
          textColor="#840228" />
        <editBtn @click="emit('changeColor', 'rgb(250, 237, 0)')"
          textColor="rgb(250, 237, 0)" />
        <editBtn @click="emit('changeColor', 'rgb(255, 104, 61)')"
          textColor="rgb(255, 104, 61)" />
        <editBtn @click="emit('changeColor', 'rgb(125, 255, 248)')"
          textColor="rgb(125, 255, 248)" />
        <editBtn @click="emit('changeColor', 'rgb(254, 203, 234)')"
          textColor="rgb(254, 203, 234)" />
        <editBtn @click="emit('changeColor', 'rgb(252, 92, 154)')"
          textColor="rgb(252, 92, 154)" />
        <editBtn @click="emit('changeColor', 'black')"
          textColor="black" />
        <editBtn @click="emit('changeColor', '#EEE')"
          textColor="#EEE" />
        <editBtn @click="emit('close')" icon="guanbi" />
      </scroll-view>
      <scroll-view class="controler-bar-list controler-bar-sub-list" scroll-x v-show="state === 'edit-color' && bookmark.showSub">
        <editBtn @click="emit('changeSubColor', 'white')"
          textColor="white" />
        <editBtn @click="emit('changeSubColor', 'rgb(0, 243, 156)')"
          textColor="rgb(0, 243, 156)" />
        <editBtn @click="emit('changeSubColor', 'rgb(119, 204, 255)')"
          textColor="rgb(119, 204, 255)" />
        <editBtn @click="emit('changeSubColor', 'rgb(250, 237, 0)')"
          textColor="rgb(250, 237, 0)" />
        <editBtn @click="emit('changeSubColor', 'rgb(255, 104, 61)')"
          textColor="rgb(255, 104, 61)" />
        <editBtn @click="emit('changeSubColor', 'rgb(125, 255, 248)')"
          textColor="rgb(125, 255, 248)" />
        <editBtn @click="emit('changeSubColor', 'rgb(254, 203, 234)')"
          textColor="rgb(254, 203, 234)" />
        <editBtn @click="emit('changeSubColor', 'rgb(252, 92, 154)')"
          textColor="rgb(252, 92, 154)" />
        <editBtn @click="emit('changeSubColor', 'black')"
          textColor="black" />
        <editBtn @click="emit('changeSubColor', '#EEE')"
          textColor="#EEE" />
        <editBtn @click="emit('close')" icon="guanbi" />
      </scroll-view>
      <scroll-view class="controler-bar-list" scroll-x v-show="state === 'edit-filter'">
        <editBtn @click="emit('changeFilter', 'colorInvertProcess')"
          btnTitle="反色" />
        <editBtn @click="emit('changeFilter', 'colorAdjustProcess')"
          btnTitle="灰度" />
        <editBtn @click="emit('changeFilter', 'blurProcess')"
          btnTitle="模糊" />
        <editBtn @click="emit('changeFilter', 'sepia')"
          btnTitle="复古" />
        <editBtn @click="emit('changeFilter', 'threshold')"
          btnTitle="阈值" />
        <editBtn @click="emit('changeFilter', 'reliefProcess')"
          btnTitle="浮雕" />
        <!-- <editBtn @click="emit('changeFilter', 'diaokeProcess')"
          btnTitle="雕刻" /> -->
        <editBtn @click="emit('close')" icon="guanbi" />
      </scroll-view>
      <div v-show="state === 'edit-image'" class="bar-cantainer">
        <editBtn @click="emit('cutoutDone')" icon="done" />
        <editBtn @click="emit('cutoutDoneClose')" icon="guanbi" />
      </div>
      <div v-show="state === 'edit-text-style'" class="controler-bar-content">
        <editBtn @click="emit('changeMenu', 'editColor')"
                 btnTitle="颜色"
                 :textColor="bookmark.content.style.color" />
        <editBtn @click="$store.dispatch('SET_TEXT_SHADOW')"
                 text="影"
                 btnTitle="阴影"
                 textColor="white" />
        <editBtn @click="emit('changeMenu', 'editSize')"
                 btnTitle="大小"
                 textColor="white"
                 text="PX" />
        <picker @change="bindTextAlign" :value="1" :range="textAlignRange">
          <editBtn :btnTitle="bookmark.content.style.textAlign.title"
                  textColor="white"
                  :text="bookmark.content.style.textAlign.text" />
        </picker>
        <!--<editBtn @click="textAreaCenter"
                 btnTitle="框居中"
                 textColor="white"
                 text="中" /> -->
        <editBtn @click="emit('changeMenu', 'editLineHeight')"
                 text="高"
                 btnTitle="行高"
                 textColor="white" />
        <editBtn @click="$store.dispatch('CHANGE_SHOW_SUB')"
                 text="副"
                 btnTitle="副文字"
                 :textColor="bookmark.content.style.color" />
        <!-- 未知bug导致粗细bold转normal失败 -->
        <!--<editBtn @click="changeFontWeight"
                 btnTitle="粗细"
                 textColor="white"
                 :text="bookmark.content.style.fontWeight === 'bold' ? '粗' : '细'" /> -->
        <editBtn @click="emit('close')" btnTitle="返回" icon="guanbi" />
        <!--<editBtn @click="emit('changeMenu', 'editFontFamylly')"
                 :textColor="bookmark.content.style.color"
                 text="苹">-->
      </div>
      <div v-show="state === 'edit-text-size'" class="controler-bar-content">
        <slider class="v-slider" v-model="bookmark.content.style.fontSize" @change="changeFontSize" :min="8" :max="42" />
        <editBtn @click="emit('close')" btnTitle="返回" icon="guanbi" />
      </div>
      <div v-show="state === 'edit-line-height'" class="controler-bar-content">
        <slider class="v-slider" v-model="bookmark.content.style.lineHeight" @change="changeLineHeight" :min="1.2" :step="0.1" :max="2" />
        <editBtn @click="emit('close')" btnTitle="返回" icon="guanbi" />
      </div>
      <div v-if="state === 'feedback'" class="controler-bar-content">
        <button open-type="feedback" class="float-button feedback-button" type="primary" size="mini" >
          建议与反馈{{(windowSize.SDKVersion < '2.1.0') ? '(提示：微信版本过低，无法跳转反馈)' : '' }}
        </button>
        <button open-type="contact" class="float-button contact-button" type="primary" size="mini" >
          在线客服
        </button>
        <button open-type="share" class="float-button share-button" type="primary" size="mini" >
          转发小程序给你的好友
        </button>
        <button class="float-button update-history-button" @click="seeUpdateHistory" type="primary" size="mini" >
          版本更新记录
        </button>
        <editBtn @click="emit('close')" btnTitle="返回" icon="guanbi" />
      </div>
    </div>
  </div>
</template>

<script>
import editBtn from './edit-btn'
import { mapState } from 'vuex'

export default {
  name: 'controler-bar',
  props: ['state'],
  data () {
    return {
      windowSize: wx.getSystemInfoSync(),
      textAlignRange: ['左', '中', '右'],
      start: {
        x: 0,
        y: 0
      },
      move: {
        x: 0,
        y: 0
      },
      end: {
        x: 0,
        y: 0
      }
    }
  },
  components: {
    editBtn
  },
  computed: {
    ...mapState({
      bookmark: state => state.bookmark
    })
  },
  methods: {
    showText: function () {
      if (!this.bookmark.showText) this.$store.dispatch('SET_SHOW_TEXT')
      this.$emit('changeMenu', 'editText')
    },
    enterMode: function () {
      wx.navigateTo({
        url: '/pages/mode/main'
      })
    },
    changeModel: function (type) {
      if (type === 1) {
        this.bookmark.model = 'thumb'
        this.bookmark.whiteSpace = false
      }
      if (type === 2) {
        this.bookmark.model = 'thumb'
        this.bookmark.whiteSpace = true
      }
      if (type === 3) {
        this.bookmark.model = 'full'
        this.bookmark.whiteSpace = true
      }
      if (type === 4) {
        this.bookmark.model = 'full'
        this.bookmark.whiteSpace = false
      }
    },
    touchstart: function (e) {
      let bookmarkStyle = this.bookmark.content.style
      bookmarkStyle.start = {
        x: e.clientX - bookmarkStyle.move.x,
        y: e.clientY - bookmarkStyle.move.y
      }
    },
    touchmove: function (e) {
      let bookmarkStyle = this.bookmark.content.style
      bookmarkStyle.move = {
        x: e.clientX - bookmarkStyle.start.x,
        y: e.clientY - bookmarkStyle.start.y
      }
      this.$store.dispatch('SET_BOOKMARK_TEXT_X', bookmarkStyle.move.x + 20)
      this.$store.dispatch('SET_BOOKMARK_TEXT_Y', bookmarkStyle.move.y + 10)
    },
    subTouchstart: function (e) {
      let bookmarkStyle = this.bookmark.subContent.style
      bookmarkStyle.start = {
        x: e.clientX - bookmarkStyle.move.x,
        y: e.clientY - bookmarkStyle.move.y
      }
    },
    subTouchmove: function (e) {
      let bookmarkStyle = this.bookmark.subContent.style
      bookmarkStyle.move = {
        x: e.clientX - bookmarkStyle.start.x,
        y: e.clientY - bookmarkStyle.start.y
      }
      this.$store.dispatch('SET_SUB_BOOKMARK_TEXT_X', bookmarkStyle.move.x + 20)
      this.$store.dispatch('SET_SUB_BOOKMARK_TEXT_Y', bookmarkStyle.move.y + 80)
    },
    textAreaCenter () {
      this.$store.dispatch('SET_BOOKMARK_TEXT_X', 0)
    },
    bindTextAlign (e) {
      this.$store.dispatch('SET_TEXTALIGN', this.textAlignRange[e.target.value])
    },
    seeUpdateHistory () {
      wx.navigateTo({
        url: '/pages/counter/main'
      })
    },
    editVertical () {
      this.$store.dispatch('SET_VERTICAL')
    },
    changeFontWeight () {
      this.$store.dispatch('SET_BOOKMARK_FONTWEIGHT')
    },
    changeWhiteSpace () {
      this.$store.dispatch('SET_WHITESPACE', !this.bookmark.whiteSpace)
    },
    errorHandle (e) {
      console.log(e)
    },
    emit (event, params = '') {
      console.log('controler bar')
      this.$emit(event, params)
    },
    blur (e) {
      this.$store.dispatch('SET_BOOKMARK_CONTENT', e.target.value)
      this.$emit('blur')
    },
    subContentblur (e) {
      this.$store.dispatch('SET_SUB_BOOKMARK_CONTENT', e.target.value)
      this.$emit('blur')
    },
    setBookContent (e) {
      this.contentText = e.target.value
    },
    setSubBookContent (e) {
      this.$store.dispatch('SET_SUB_BOOKMARK_CONTENT', e.target.value)
    },
    changeFontSize (e) {
      this.$store.dispatch('SET_BOOKMARK_FONTSIZE', e.target.value)
    },
    hideText () {
      this.$store.dispatch('SET_SHOW_TEXT')
    },
    changeLineHeight (e) {
      this.$store.dispatch('SET_LINEHEIGHT', e.target.value)
    },
    changeOutputStyle () {
      let style = ''
      style = this.bookmark.model === 'full' ? 'thumb' : 'full'
      this.$store.dispatch('SET_BOOKMARK_MODEL', style)
    },
    clickFeedback () {
      this.$emit('changeMenu', 'feedback')
    }
  },
  onShareAppMessage () {
    return {
      title: '这是我的作品~',
      imageUrl: this.bookmark.backgroundImage.ctx
    }
  },
  created () {
    console.log(this.windowSize)
  }
}
</script>

<style lang="sass">
.edit-tip
  position: fixed;
  right: 5px;
  top: 5px;
  font-size: 12px;
.controler-bar-wrap
  height: 9.6vh
  z-index: 6
  width: 100%;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  padding-top: 0.4vh
  bottom: 0;
.controler-bar-content
  display: flex;
  justify-content: flex-start;
  height: 10vh
  align-items: center;
.controler-bar-list
  width: 100%;
  height: 10vh;
  display: flex
  padding-top: 2.5vh
  justify-content: center;
  flex-direction: column
  align-items: center;
  white-space: nowrap;
.controler-bar-sub-list
  position: fixed;
  bottom: 10vh
  background: white;
  border-bottom: 1px solid #EEE;
  height: 40px
  padding-top: 5px;
.edit-input-area
  height: 18vh;
  width: 90%;
  position: fixed;
  bottom: 10vh;
  background: white;
  box-shadow: 0px 5px 5px #CCC;
  padding: 0 5%;
.edit-input
  height: 12vh;
  font-weight: normal;
  border-radius: 15rpxe
  background: tranparent;
  margin-top: 3vh
  border: 1px dashed #666
  text-align: center
  font-size: 22rpx
.v-slider
  width: 70vw
.float-button
  position: fixed;
  top: 30rpx;
  left: 30rpx;
.feedback-button
  top: 30rpx;
.contact-button
  top: 120rpx
.share-button
  top: 210rpx
.update-history-button
  top: 300rpx
.bar-cantainer
   display: flex;
   flex-direction: row
.share-card
  margin: 0 !important;
  padding: 0 !important;
  border: 0px solid tranparent !important;
  display: inline;
</style>