<template>
  <div class="edit-btn-box">
    <form @submit="formSubmit" report-submit>
      <button form-type="submit" class="edit-btn-box">
        <div class="edit-btn" :style="{
            'background': background
          }">
          <i class="iconfont" v-if="icon" :class="'icon-' + icon" />
          <a class="content-text" :style="{ 'color': textColor, 'font-size': bookmark.content.style.fontSize + 'px' }" v-else-if="text">{{text}}</a>
          <div class="content-color" :style="{ 'background': textColor }" v-else></div>
        </div>
        <div class="btn-text">{{btnTitle}}</div>
      </button>
    </form>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'edit-btn',
  props: ['icon', 'text', 'textColor', 'type', 'btnTitle', 'background'],
  computed: {
    ...mapState({
      bookmark: state => state.bookmark
    })
  },
  methods: {
    formSubmit: function (event) {
      this.$emit('click')
      if (this.bookmark.openId) {
        this.$api.submitFormId({
          formId: event.target.formId,
          openId: this.bookmark.openId
        })
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.edit-btn-box
  display: inline-flex
  justify-content: center;
  padding: 0;
  background: transparent;
  line-height: 1.4;
  border: none;
  flex-direction: column
  align-items: center;
  margin: 0 2px
  flex: 0;
.edit-btn-box::after
  border: none
.edit-btn
  display: inline-flex
  justify-content: center;
  line-height: 0;
  flex-direction: column
  border: none;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #6699FF
  i
    color: white
  .content-text
    font-size: 30rpx;
  .content-color
    height: 3vh
    width: 3vh
    border-radius: 50%;
.btn-text
  font-size: 24rpx
  text-align: center;
  color: #333
  width: 40px
  padding-top: 6rpx
</style>