<template>
  <div>
    <div v-show="bookmark.originSrc" class="cut-out-wrap">
      <!-- <image mode="scaleToFill"
        class="opacity-background" @click="$emit('clickBackground')" src="../../static/opacity-background.png" /> -->
      <div class="opacity-background" style="background: #EEE"></div>
      <image 
        class="cutout-thumb"
        mode="scaleToFill" 
        :style="{ 'width' : windowSize.windowWidth + 'px', 'height' : previewHeight }" 
        @load="loaded" 
        :src="bookmark.originSrc" />
      <div class="cutout-box"
        v-if="bookmark.model === 'thumb' && (bookmark.backgroundImage.style.height > (cutoutSize.height * 1.2)) && !bookmark.isVertical"
        @touchstart="touchCutoutBoxStart"
        @touchmove="touchCutoutBoxMove"
        :style="{
          'height': cutoutSize.height + 'px',
          'top': cutoutSize.top + bookmark.backgroundImage.style.top + 'px'
        }"></div>
    </div>
    <div class="cut-tip" v-show="bookmark.originSrc" v-if="bookmark.model === 'thumb' && (bookmark.backgroundImage.style.height > (cutoutSize.height * 1.2)) && !bookmark.isVertical">请拖动框框以保留合适的区域用以展示</div>
    <canvas class="cutout-canvas" canvas-id="cutout-canvas"></canvas>
  </div>
</template>

<script>
import { mapState } from 'vuex'

// 图片截取 当用户选取的图片格式不标准时 提供截取部分功能
export default {
  name: 'image-cutout',
  data () {
    return {
      mainCtx: null,
      previewWidth: '100%',
      previewHeight: 0,
      // X轴偏移
      x: 0,
      windowSize: wx.getSystemInfoSync(),
      originSrcInfo: null,
      cutoutSize: {
        height: 260,
        top: 10
      },
      cutoutBoxStart: 0,
      cutoutBoxMove: 0
    }
  },

  methods: {
    touchCutoutBoxStart (e) {
      this.cutoutBoxStart = e.clientY - this.cutoutBoxMove + this.bookmark.backgroundImage.style.top
    },
    touchCutoutBoxMove (e) {
      let y = e.clientY - this.cutoutBoxStart + this.bookmark.backgroundImage.style.top
      if (y < -10) return
      if (y + this.cutoutSize.height > this.bookmark.backgroundImage.style.height + 10) return
      this.cutoutBoxMove = e.clientY - this.cutoutBoxStart + this.bookmark.backgroundImage.style.top
      this.cutoutSize.top = this.cutoutBoxMove
    },
    loaded (e) {
      // 根据比例还原原图
      let previewWidth = this.windowSize.windowWidth
      let previewHeight = this.windowSize.windowWidth * (e.target.height / e.target.width)
      let previewTop = ((this.windowSize.windowHeight * 0.9) - previewHeight) / 2
      this.$store.dispatch('SET_BOOKMARK_BACKGROUND_SIZE', {
        height: previewHeight,
        width: previewWidth,
        top: previewTop
      })
      this.previewHeight = previewHeight + 'px'
      this.previewWidth = previewWidth + 'px'
      this.originSrcInfo = e
      if (this.bookmark.model !== 'thumb') return this.drawImage()
      if (!this.bookmark.isVertical && this.bookmark.backgroundImage.style.height > (this.cutoutSize.height * 1.2)) {
        this.$store.dispatch('SET_VERTICAL')
      //   this.drawImage()
      //   // wx.showModal({
      //   //   title: '提示',
      //   //   content: '您选择的图片比较长，是否需要切换为竖图模式',
      //   //   success: (res) => {
      //   //     if (res.confirm) {
      //   //     } else if (res.cancel) {
      //   //       console.log('用户点击取消')
      //   //     }
      //   //   }
      //   // })
      } else if (this.bookmark.isVertical && this.bookmark.backgroundImage.style.height <= (this.cutoutSize.height * 1.2)) {
        this.$store.dispatch('SET_VERTICAL')
      //   this.drawImage()
      //   // wx.showModal({
      //   //   title: '提示',
      //   //   content: '您选择的图片比较短，是否需要切换为横图模式',
      //   //   success: (res) => {
      //   //     if (res.confirm) {
      //   // }
      //     // }
      //   // })
      // } else {
      //   this.drawImage()
      }
      this.drawImage()
    },
    initCtx: function () {
      this.mainCtx = wx.createCanvasContext('cutout-canvas', this)
    },
    // // 绘制展示背景透明的灰白色小格子类型PS后面的格子
    // drawOpacityBackground: function () {
    //   this.mainCtx.drawImage('../../static/opacity-background.png', 0, 0, this.windowSize.windowWidth, this.windowSize.windowHeight * 0.9)
    // },
    drawImage: function () {
      let top, previewHeight
      if (this.bookmark.model === 'full') {
        top = this.bookmark.backgroundImage.style.top
        previewHeight = parseInt(this.previewHeight.replace('px', ''))
      } else {
        if (this.bookmark.backgroundImage.style.height > (this.cutoutSize.height * 1.2) && !this.bookmark.isVertical) {
          top = this.cutoutSize.top + this.bookmark.backgroundImage.style.top
          previewHeight = this.cutoutSize.height
        } else {
          top = this.bookmark.backgroundImage.style.top
          previewHeight = parseInt(this.previewHeight.replace('px', ''))
        }
      }
      this.mainCtx.clearRect(0, 0, this.windowSize.windowWidth, this.windowSize.windowHeight)
      // this.drawOpacityBackground()
      if (/https:\/\//.test(this.bookmark.originSrc)) {
        wx.showLoading({
          title: '加载中...',
          mask: true
        })
        wx.getImageInfo({
          src: this.bookmark.originSrc,
          success: (res) => {
            this.mainCtx.drawImage(res.path, 0, this.bookmark.backgroundImage.style.top, this.windowSize.windowWidth, parseInt(this.previewHeight.replace('px', '')))
            this.mainCtx.draw(false, () => {
              wx.canvasToTempFilePath({
                height: previewHeight,
                y: top,
                canvasId: 'cutout-canvas',
                success: (res) => {
                  wx.hideLoading()
                  this.$emit('cutout', res.tempFilePath)
                  this.bookmark.originSrc = ''
                }
              }, this)
            })
          }
        })
      } else {
        this.mainCtx.drawImage(this.bookmark.originSrc, 0, this.bookmark.backgroundImage.style.top, this.windowSize.windowWidth, parseInt(this.previewHeight.replace('px', '')))
        this.mainCtx.draw(false, () => {
          wx.canvasToTempFilePath({
            canvasId: 'cutout-canvas',
            height: previewHeight,
            y: top,
            success: (res) => {
              this.$emit('cutout', res.tempFilePath)
              this.bookmark.originSrc = ''
            }
          }, this)
        })
      }
    },
    // 滚动时绑定当前X轴 作为渲染出图的数值参考
    scroll: function (e) {
      this.x = e.target.scrollLeft
    }
  },
  watch: {
    'bookmark.originSrc': function (val, oldVal) {
      this.cutoutSize.top = 10
      this.cutoutBoxStart = 0
      this.cutoutBoxMove = 0
    }
  },
  computed: {
    imageStyle: function () {
      return {
        height: '100%',
        width: '100%'
      }
    },
    ...mapState({
      bookmark: state => state.bookmark
    })
  },
  created () {
    this.initCtx()
  }
}
</script>

<style lang="sass">
.cut-tip
  position: absolute;
  top: 85%;
  width: 100%;
  text-align: center
  z-index: 55
.cut-out-wrap
  height: 90vh
  width: 100vw
  position: absolute;
  top: 0;
  display: flex;
  z-index: 50;
  justify-content: center;
  align-items: center;
  background: white;
  .cut-out-view
   height: 100%;
   width: 100%;
  image
    height: 90vh;
    position: absolute;
  .cutout-thumb
    z-index: 51
    max-height: 90vh
canvas
  height: 90vh
  width: 100%
.cutout-canvas
  position: fixed;
  top: -100vh
.opacity-background
  width: 100%
  z-index: 3
  height: 90vh
  position: relative
.cutout-box
  width: 98vw;
  border: 1vw dashed #666;
  position: absolute;
  z-index: 52
  margin-top: -1vw
</style>