<template>
  <!--<movable-area class="cantainer" 
    @touchstart="doubleTouchstart"
    @touchmove="doubleTouchMove">-->
  <movable-area class="cantainer">
    <div class="thumb-wraper"
      :style="computedThumbWraperStyle.str"
      v-if="bookmark.model === 'thumb'">
      <div class="thumb-image-wraper"
        :style="computedThumbBoxStyle.str"
        @click.top="changeImage">
        <i class="iconfont icon-tupian select-image-icon" />
        <image
          mode="scaleToFill"
          :style="computedThumbStyle.str"
          class="thumb-image"
          :src="bookmark.backgroundImage.ctx" />
      </div>
    </div>
    <image mode="scaleToFill" v-else-if="bookmark.model === 'full'" class="main-background-image"
          :style="{width: bookmark.backgroundImage.style.width + 'px',
                  height: bookmark.backgroundImage.style.height + 'px',
                  top: bookmark.backgroundImage.style.top + 'px'}" 
          @click="changeImage" :src="bookmark.backgroundImage.ctx" />
    <div class="opacity-background" @click="$emit('clickBackground')" style="background: #EEE"></div>
    <!-- <image mode="scaleToFill"
      class="opacity-background" @click="$emit('clickBackground')" src="../../static/opacity-background.png" /> -->
    <text @touchstart="touchstart"
          @touchmove="throttled"
          @touchend="(e) => {e.preventDefault()}"
          @click="$emit('clickText')"
          v-if="bookmark.showText"
       :style="{ color: bookmark.content.style.color, 
                 fontSize: bookmark.content.style.fontSize + 'px',
                //  fontFamily: bookmark.content.style.fontFamily
                 textShadow: bookmark.content.style.shadow ? '0 0 2px rgba(0, 0, 0, 0.2)' : '0, 0, 0 white',
                 marginTop: textAreaMarginTop + 'em',
                 width: textAreaWidth + 'px',
                 marginLeft: textAreaMarginLeft + 'px',
                 top: '0px',
                 transform: 'translate3D(' + bookmark.content.style.x + 'px, ' + bookmark.content.style.y + 'px, 0)',
                 border: state === 'edit-text' ? '1px dashed rgba(0, 0, 0, 0)' : '1px dashed #CCC',
                 lineHeight: bookmark.content.style.lineHeight + 'em',
                 textAlign: bookmark.content.style.textAlign.name,
                 fontWeight: bookmark.content.style.fontWeight}"
       class="text-content">{{bookmark.content.ctx ? bookmark.content.ctx : bookmark.placeholderText}}
        <i class="iconfont icon-yidong" />
       </text>
    <!--<text @touchstart="subTouchstart"
          @touchmove="touchmove"
          @touchend="subTouchend"
          @click="$emit('clickText')"
          v-if="state !== 'edit-text' && bookmark.showSub"  
       :style="{ color: bookmark.subContent.style.color, 
                 fontSize: bookmark.subContent.style.fontSize + 'px',
                //  fontFamily: bookmark.content.style.fontFamily
                 marginTop: textAreaMarginTop + 'px',
                 width: textAreaWidth + 'px',
                 textAreaMarginLeft: -(windowSize.windowWidth / 2.4) + 'px',
                 top: '0px',
                 transform: 'translate3D(' + bookmark.content.style.x + 'px, ' + bookmark.content.style.y + 'px, 0)',
                 border: state === 'main-menu' ? '1px dashed #666' : '1px dashed transparent',
                //  textAlign: bookmark.content.style.textAlign.name,
                 textAlign: 'center',
                 fontWeight: bookmark.subContent.style.fontWeight}"
       class="text-content">{{bookmark.subContent.ctx ? bookmark.subContent.ctx : bookmark.subPlaceholderText}}</text> -->
    <div class="white-space"
      v-show="bookmark.whiteSpace && bookmark.model === 'full'"
      :style="computedWhiteSpace"></div>
    <!-- <text class="createTime">{{getCreateBookMarkTime}}</text> -->
    <canvas class="preview-canvas" v-show="bookmark.showPreview" canvas-id="canvas" :style=""></canvas>
    <!-- <input v-model="bookmark.content.ctx" @input="showCanvas = false"> -->
  </movable-area>
</template>

<script>
import { mapState } from 'vuex'
import filters from '../utils/filters'
import _ from 'underscore'

export default {
  name: 'v-preview',
  props: ['state'],
  data () {
    return {
      mainCtx: null,
      showCanvas: false,
      textAreaMarginTop: 0,
      textAreaWidth: wx.getSystemInfoSync().windowWidth * 0.9,
      textAreaMarginLeft: -(wx.getSystemInfoSync().windowWidth / 2.4),
      moveEvent: null,
      throttledIncr: null,
      imageStyle: {
        height: 552
      },
      windowSize: wx.getSystemInfoSync(),
      start: {
        x: 0,
        y: 0
      },
      move: {
        x: 0,
        y: 0
      },
      end: {
        x: 0,
        y: 0
      },
      subStart: {
        x: 0,
        y: 0
      },
      subMove: {
        x: 0,
        y: 0
      },
      subEnd: {
        x: 0,
        y: 0
      }
    }
  },
  computed: {
    ...mapState({
      bookmark: state => state.bookmark
    }),
    // ...mapGetters([
    //   'getCreateBookMarkTime'
    // ]),
    // 留白的Y轴位置分两种情况 一种是图片大于留白的区域 一种是图片小于留白的区域
    // (最大区域 - 图片所占区域) 大于留白的高度 Y轴位置 等于 (视窗高度 - 背景图片高度) / 2 + (背景图片高度 - 留白的高度)
    // (最大区域 - 图片所占区域) 小于留白的高度 Y轴位置 等于 (视窗高度 - 背景图片高度) / 2 + 背景图片高度
    computedWhiteSpace: function () {
      let Y = 0
      if ((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height >= 80) {
        Y = ((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height) / 2 + this.bookmark.backgroundImage.style.height - 1
      } else {
        Y = ((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height) / 2 + this.bookmark.backgroundImage.style.height - 1 - 80
      }
      return `top: ${Y}px`
    },
    computedThumbWraperStyle: function () {
      let height = 0
      if (this.bookmark.whiteSpace) {
        height = this.bookmark.thumbStyle.frameHeight
      } else {
        height = this.bookmark.thumbStyle.height
      }
      return {
        str: `
          height: ${height + (this.bookmark.isVertical ? this.bookmark.thumbStyle.verticalExtraHeight : 0)}px;
          top: ${this.bookmark.thumbStyle.top - (this.bookmark.isVertical ? (this.bookmark.thumbStyle.verticalExtraHeight / 2) - this.bookmark.thumbStyle.verticalExtraTop : 0)}px
        `,
        obj: {
          'height': height + (this.bookmark.isVertical ? this.bookmark.thumbStyle.verticalExtraHeight : 0),
          'top': this.bookmark.thumbStyle.top - (this.bookmark.isVertical ? (this.bookmark.thumbStyle.verticalExtraHeight / 2) - this.bookmark.thumbStyle.verticalExtraTop : 0)
        }
      }
    },
    computedThumbStyle: function () {
      return {
        str: `
          width: ${this.bookmark.thumbStyle.thumbImageStyle.width}px;
          height: ${this.bookmark.thumbStyle.thumbImageStyle.height + (this.bookmark.isVertical ? this.bookmark.thumbStyle.verticalExtraHeight : 0)}px
        `,
        obj: {
          'width': this.bookmark.thumbStyle.thumbImageStyle.width,
          'height': this.bookmark.thumbStyle.thumbImageStyle.height + (this.bookmark.isVertical ? this.bookmark.thumbStyle.verticalExtraHeight : 0),
          'top': this.bookmark.thumbStyle.thumbImageStyle.top - (this.bookmark.isVertical ? (this.bookmark.thumbStyle.verticalExtraHeight / 2) - this.bookmark.thumbStyle.verticalExtraTop : 0)
        }
      }
    },
    computedThumbBoxStyle: function () {
      return {
        str: `
          height: ${this.bookmark.thumbStyle.thumbBoxStyle.height + (this.bookmark.isVertical ? this.bookmark.thumbStyle.verticalExtraHeight : 0)}px
        `,
        obj: {
          'top': this.bookmark.thumbStyle.thumbBoxStyle.top - (this.bookmark.isVertical ? (this.bookmark.thumbStyle.verticalExtraHeight / 2) - this.bookmark.thumbStyle.verticalExtraTop : 0),
          'height': this.bookmark.thumbStyle.thumbBoxStyle.height + (this.bookmark.isVertical ? this.bookmark.thumbStyle.verticalExtraHeight : 0)
        }
      }
    }
  },
  methods: {
    changeImage: function () {
      if (this.state === 'main-menu') {
        wx.navigateTo({
          url: '/pages/logs/main'
        })
      }
    },
    diasableTouchmove: function (e) {
      e.preventDefault()
    },
    initCtx: function () {
      this.mainCtx = wx.createCanvasContext('canvas', this)
    },
    // 绘制书签形式的图片
    drawThumb: function () {
      this.drawOpacityBackground()
      this.mainCtx.setFillStyle('white')
      // 绘制底部白色部分
      this.mainCtx.fillRect(0,
        this.computedThumbWraperStyle.obj.top,
        this.windowSize.windowWidth + 1,
        this.computedThumbWraperStyle.obj.height)
      this.mainCtx.setShadow(1, 8, 10, '#DDD')
      this.mainCtx.fillRect(
        this.bookmark.thumbStyle.thumbBoxStyle.left,
        this.computedThumbBoxStyle.obj.top,
        this.bookmark.thumbStyle.thumbBoxStyle.width,
        this.computedThumbBoxStyle.obj.height
      )
      this.mainCtx.setShadow(0, 0, 0, '#DDD')
      console.log(this.bookmark.backgroundImage.ctx)
      this.mainCtx.drawImage(this.bookmark.backgroundImage.ctx,
        this.bookmark.thumbStyle.thumbImageStyle.left,
        this.computedThumbStyle.obj.top,
        this.bookmark.thumbStyle.thumbImageStyle.width,
        this.computedThumbStyle.obj.height)
    },
    drawImage: function () {
      // 小程序canvas不支持外部字体
      // this.mainCtx.font = 'family: "PINGFANG-light"'
      this.drawOpacityBackground()
      // this.mainCtx.setFillStyle(this.bookmark.content.style.color)
      this.mainCtx.drawImage(
        this.bookmark.backgroundImage.ctx,
        0,
        this.bookmark.backgroundImage.style.top,
        this.windowSize.windowWidth + 1,
        this.bookmark.backgroundImage.style.height)
    },
    drawLogo: function () {
      let sWidth = 50
      let sHeight = 20
      let margin = 5
      this.mainCtx.drawImage(
        this.bookmark.logoTempFilePath,
        this.bookmark.thumbStyle.thumbImageStyle.width + (this.bookmark.thumbStyle.thumbImageStyle.left) - sWidth - margin,
        this.bookmark.thumbStyle.thumbImageStyle.height + (this.bookmark.thumbStyle.thumbImageStyle.top) - sHeight - margin,
        sWidth,
        sHeight
      )
    },
    // 绘制展示背景透明的灰白色小格子类型PS后面的格子
    drawOpacityBackground: function () {
      this.mainCtx.setFillStyle('#333')
      this.mainCtx.fillRect(0, 0, this.windowSize.windowWidth, this.windowSize.windowHeight * 0.9)
    },
    drawContentText: function () {
      this.mainCtx.font = `normal ${this.bookmark.content.style.fontWeight} ${this.bookmark.content.style.fontSize}px sans-serif`
      // this.mainCtx.font = 'normal normal 0px sans-serif'
      this.mainCtx.setFillStyle(this.bookmark.content.style.color)
      /**
       * 注意 一下参数按照顺序填写
       * style字体样式 仅支持 italic, oblique, normal
       * weight字体粗细 仅支持 normal, bold
       * size字体大小
       * family字体族名 注意确认各平台所支持的字体
       */
      // 未知bug导致粗细bold转normal失败
      // this.mainCtx.setShadow(5, 5, 0, 'white')
      // this.mainCtx.setFontSize(this.bookmark.content.style.fontSize)
      if (wx.canIUse('canvasContext.measureText')) {
        this.newLine('content')
      } else {
        wx.showToast({
          title: '由于微信版本过低，无法支持换行功能，请升级微信或保证文字在一行以内！',
          icon: 'none'
        })
        this.mainCtx.fillText(this.bookmark.content.ctx, this.windowSize.windowWidth / 2 + this.bookmark.content.style.x, this.bookmark.content.style.y)
      }
    },
    drawSubContentText: function () {
      this.mainCtx.setFillStyle(this.bookmark.subContent.style.color)
      this.mainCtx.font = `normal normal ${this.bookmark.subContent.style.fontSize}px sans-serif`
      if (wx.canIUse('canvasContext.measureText')) {
        this.newLine('subContent')
      } else {
        wx.showToast({
          title: '由于微信版本过低，无法支持换行功能，请升级微信或保证文字在一行以内！',
          icon: 'none'
        })
        this.mainCtx.fillText(this.bookmark.subContent.ctx, this.windowSize.windowWidth / 2 + this.bookmark.subContent.style.x, this.bookmark.subContent.style.y)
      }
    },
    // 保存thumb样式
    /**
     * @method saveThumb 保存thumb样式的图片
     * @param { Boolean } type 存为壁纸或卡片 true/false 壁纸/卡片
     * @param { Boolean } isSave 是否为保存图片
     */
    saveThumb: function (type, isSave = false) {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      let saveHeight = () => {
        if (type) {
          // 壁纸根据屏幕高度保存
          return this.windowSize.screenHeight
        } else {
          // 卡片根据this.bookmark.whiteSpace保存
          return this.computedThumbWraperStyle.obj.height
        }
      }
      wx.canvasToTempFilePath({
        canvasId: 'canvas',
        height: saveHeight(),
        y: type ? 0 : this.computedThumbWraperStyle.obj.top,
        success: (e) => {
          setTimeout(() => {
            isSave ? wx.previewImage({
              urls: [e.tempFilePath]
            }) : this.savePhoto(e)
            wx.hideLoading()
          }, 0)
        }
      }, this)
    },
    save: function (isSave = false) {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      let drawHeight = 0
      if (this.bookmark.whiteSpace) {
        if ((((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height) / 2) >= 80) {
          drawHeight = this.bookmark.backgroundImage.style.height + 80
        } else {
          drawHeight = this.bookmark.backgroundImage.style.height
        }
      } else {
        drawHeight = this.bookmark.backgroundImage.style.height
      }
      wx.canvasToTempFilePath({
        canvasId: 'canvas',
        height: drawHeight - 2,
        y: (((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height) / 2) + 1,
        success: (e) => {
          setTimeout(() => {
            isSave ? wx.previewImage({
              urls: [e.tempFilePath]
            }) : this.savePhoto(e)
            wx.hideLoading()
          }, 500)
        }
      }, this)
    },
    savePhoto: function (e) {
      wx.saveImageToPhotosAlbum({
        filePath: e.tempFilePath,
        success: function (res) {
          wx.showToast({
            title: '图片保存成功，立即前往相册查看哦~',
            icon: 'none'
          })
        },
        fail: function (res) {
          console.log(res)
        },
        complete: function (res) {
          console.log(res)
        }
      })
    },
    subTouchstart: function (e) {
      let bookmarkStyle = this.bookmark.subContent.style
      bookmarkStyle.start = {
        x: e.clientX - bookmarkStyle.move.x,
        y: e.clientY - bookmarkStyle.move.y
      }
    },
    subTouchmove: function (e) {
      let bookmarkStyle = this.bookmark.subContent.style
      bookmarkStyle.move = {
        x: e.clientX - bookmarkStyle.start.x,
        y: e.clientY - bookmarkStyle.start.y
      }
      this.$store.dispatch('SET_SUB_BOOKMARK_TEXT_X', bookmarkStyle.move.x + 20)
      this.$store.dispatch('SET_SUB_BOOKMARK_TEXT_Y', bookmarkStyle.move.y + 80)
    },
    doubleTouchstart: function (e) {
      this.$store.dispatch('SET_DOUBLEPOINT', e.touches.length !== 1)
      if (this.bookmark.isDoublePoint) {
        let bookmarkStyle = this.bookmark.content.style
        try {
          bookmarkStyle.doubleStart = {
            point1: {
              x: e.touches[0].clientX
            },
            point2: {
              x: e.touches[1].clientX
            }
          }
        } catch (e) {
          console.log(e)
        }
      }
    },
    doubleTouchMove: function (e) {
      e.preventDefault()
      try {
        if (this.bookmark.isDoublePoint) {
          let bookmarkStyle = this.bookmark.content.style
          bookmarkStyle.doubleMove = {
            point1: {
              x: e.touches[0].clientX - bookmarkStyle.doubleStart.point1.x
            },
            point2: {
              x: e.touches[1].clientX - bookmarkStyle.doubleStart.point2.x
            }
          }
          let scale = (bookmarkStyle.doubleMove.point2.x - bookmarkStyle.doubleMove.point1.x) / 80
          if (e.touches[0].clientX < e.touches[1].clientX) {
            this.$store.dispatch('SET_BOOKMARK_FONTSIZE', parseInt(this.bookmark.content.style.fontSize + scale))
            console.log(scale, '1 > 2')
          } else {
            this.$store.dispatch('SET_BOOKMARK_FONTSIZE', parseInt(this.bookmark.content.style.fontSize - scale))
            console.log(scale, '2 > 1')
          }
        }
      } catch (e) {
        console.log(e)
      }
    },
    touchstart: function (e) {
      let bookmarkStyle = this.bookmark.content.style
      if (e.touches.length === 1) {
        bookmarkStyle.start = {
          x: e.clientX - bookmarkStyle.move.x,
          y: e.clientY - bookmarkStyle.move.y
        }
      }
    },
    throttled: function (e) {
      this.moveEvent = e
      this.throttledIncr()
    },
    touchmove: function () {
      let e = this.moveEvent
      this.singPointMove(e)
      // 单指的情况
      // if (!this.bookmark.isDoublePoint) {
      // } else {
      // this.doublePointMove(e)
      // }
    },
    singPointMove: function (e) {
      let bookmarkStyle = this.bookmark.content.style
      bookmarkStyle.move = {
        x: e.clientX - bookmarkStyle.start.x,
        y: e.clientY - bookmarkStyle.start.y
      }
      this.$store.dispatch('SET_BOOKMARK_TEXT_X', bookmarkStyle.move.x + 20)
      this.$store.dispatch('SET_BOOKMARK_TEXT_Y', bookmarkStyle.move.y + 10)
    },
    drawWhiteSpace: function () {
      if (!this.bookmark.whiteSpace) return
      let Y = 0
      if ((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height >= 80) {
        Y = ((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height) / 2 + this.bookmark.backgroundImage.style.height
      } else {
        Y = ((this.windowSize.windowHeight * 0.9) - this.bookmark.backgroundImage.style.height) / 2 + this.bookmark.backgroundImage.style.height - 80
      }
      this.mainCtx.setFillStyle('white')
      this.mainCtx.fillRect(0, Y - 2, this.windowSize.windowWidth, 84)
    },
    /**
     * @method draw 绘制
     * @param { String | false } type 类型 当type为filters时 只绘制透明
     */
    draw: function (type = false) {
      this.showCanvas = true
      this.mainCtx.clearRect(0, 0, this.windowSize.windowWidth, this.windowSize.windowHeight)
      if (this.bookmark.model === 'thumb') {
        this.drawThumb()
        if (this.bookmark.showText) this.drawContentText()
        if (this.bookmark.showSub) this.drawSubContentText()
      } else {
        if (type === 'filter') {
          this.drawImage()
        } else {
          this.drawImage()
          this.drawWhiteSpace()
          // this.drawContentText()
          if (this.bookmark.showSub) this.drawSubContentText()
        }
      }
      this.drawLogo()
      this.mainCtx.draw(true, () => {
      })
    },
    drawFilters: function () {

    },
    filter: function (type) {
      let windowSize = this.windowSize
      let bookmark = this.bookmark
      let mainCtx = this.mainCtx
      let $store = this.$store
      let that = this
      wx.canvasGetImageData({
        canvasId: 'canvas',
        x: 0,
        y: ((windowSize.windowHeight * 0.9) - bookmark.backgroundImage.style.height) / 2,
        width: windowSize.windowWidth,
        height: bookmark.backgroundImage.style.height,
        success (res) {
          let d = res.data
          let filterData = filters[type](d, {
            height: bookmark.backgroundImage.style.height,
            width: bookmark.backgroundImage.style.width
          })
          wx.canvasPutImageData({
            canvasId: 'canvas',
            data: filterData,
            x: 0,
            y: ((windowSize.windowHeight * 0.9) - bookmark.backgroundImage.style.height) / 2,
            width: windowSize.windowWidth,
            height: bookmark.backgroundImage.style.height,
            success: (res) => {
              // 安卓上执行到这一步没反应 打印mainCtx也有对象 iOS正常
              mainCtx.draw(true, () => {
                console.log(wx)
                wx.canvasToTempFilePath({
                  canvasId: 'canvas',
                  height: windowSize.windowHeight * 0.9,
                  y: 0,
                  success: (e) => {
                    console.log(e)
                    $store.dispatch('SET_BACKGROUND_IMAGE', e.tempFilePath)
                  },
                  fail: (e) => {
                  },
                  complete: (e) => {
                    console.log('complete')
                  }
                }, that)
              })
            }
          })
        }
      })
    },
    newLine: function (type) {
      if (type === 'subContent') {
        this.mainCtx.font = `normal normal ${this.bookmark.subContent.style.fontSize}px sans-serif`
      }
      // 注意处理文本不存在的情况
      let text = ''
      if (type !== 'subContent') {
        if (!this.bookmark[type].ctx) {
          text = this.bookmark.placeholderText
        } else {
          text = this.bookmark[type].ctx
        }
      } else {
        // 这是要绘制的文本
        if (!this.bookmark[type].ctx) {
          text = this.bookmark.subPlaceholderText
        } else {
          text = this.bookmark[type].ctx
        }
      }
      let chr = text.split('') // 这个方法是将一个字符串分割成字符串数组
      let temp = ''
      let row = []
      let chrWidth = this.mainCtx.measureText(chr[0]).width
      for (let a = 0; a < chr.length; a++) {
        if (/\n/.test(chr[a])) {
          temp += chr[a]
          row.push(temp)
          temp = ''
        } else {
          if (this.mainCtx.measureText(temp).width < (this.windowSize.windowWidth * 0.9) - (chrWidth * 2)) {
            temp += chr[a]
          } else {
            temp += chr[a]
            row.push(temp)
            temp = ''
          }
        }
      }
      let setTextShadow = () => {
        this.mainCtx.shadowColor = 'rgba(0, 0, 0, 0.2)'
        this.mainCtx.shadowOffsetX = 0
        this.mainCtx.shadowOffsetY = 0
        this.mainCtx.shadowBlur = 2
      }
      let clearTextShadow = () => {
        this.mainCtx.shadowColor = 'rgba(0, 0, 0, 0)'
        this.mainCtx.shadowOffsetX = 0
        this.mainCtx.shadowOffsetY = 0
        this.mainCtx.shadowBlur = 0
      }
      if (this.bookmark.content.style.shadow) setTextShadow()
      row.push(temp)
      let borderPx = this.windowSize.pixelRatio * 2
      for (var b = 0; b < row.length; b++) {
        // 位置有偏离
        // let isPianyi = (b === row.length - 1)
        let x = 0
        if (type === 'subContent') {
          x = (((this.windowSize.windowWidth - this.mainCtx.measureText(row[b]).width)) / 2) +
          this.bookmark[type].style.x - borderPx
        } else {
          if (this.bookmark.content.style.textAlign.name === 'left') {
            x = (((this.windowSize.windowWidth - (this.windowSize.windowWidth * 0.8))) / 2) + this.bookmark[type].style.x - borderPx
          } else if (this.bookmark.content.style.textAlign.name === 'right') {
            x = this.bookmark[type].style.x + (((this.windowSize.windowWidth - (this.windowSize.windowWidth * 0.8))) / 2) +
            (((this.windowSize.windowWidth * 0.9) - this.mainCtx.measureText(row[b]).width)) + 1
          } else {
            x = (((this.windowSize.windowWidth - this.mainCtx.measureText(row[b]).width)) / 2) +
            this.bookmark[type].style.x - 2
          }
        }
        let y = 0
        if (type === 'subContent') {
          y = this.bookmark[type].style.y + (b + 1) * this.bookmark[type].style.fontSize + b * (this.bookmark[type].style.fontSize * 0.2) + 1
        } else {
          y = this.bookmark[type].style.y + (b + 1) * this.bookmark[type].style.fontSize + b * (this.bookmark[type].style.fontSize * (this.bookmark.content.style.lineHeight - 1)) - 1
        }
        this.mainCtx.fillText(row[b],
          x,
          // 每行y轴高度 =
          y,
          this.windowSize.windowWidth * 0.9)
        // console.log(this.bookmark.content.style.y + (b + 1) * this.bookmark.content.style.fontSize + (this.bookmark.content.style.fontSize * 0.2) + b * (this.bookmark.content.style.fontSize * 0.2))
      }
      clearTextShadow()
    }
  },
  mounted () {
    this.initCtx()
    this.textAreaMarginTop = (1 - this.bookmark.content.style.lineHeight) / 2 + 0.1
    this.throttledIncr = _.throttle(this.touchmove, 60)
  }
}
</script>

<style lang="sass" scoped>
.thumb-wraper
  width: 100%;
  background: white;
  position: absolute;
  z-index: 5
  .thumb-image-wraper
    background: white;
    width: 94vw;
    margin: 2vh 3vw;
    box-shadow: 1px 8px 15px #DDD;
    position: relative
    .select-image-icon
      position: absolute;
      right: 5vw;
      top: 5vw
      color: #EEE;
    .thumb-image
      height: 36vh;
      margin: 2vh;
.preview-canvas
  z-index: 80
.edit-tip
  position: fixed;
  right: 5px;
  top: 5px;
  font-size: 12px;
.cantainer
  width: 100%;
  height: 100vh
  overflow: hidden;
canvas
  height: 90vh
  width: 100%
  position: absolute
  top: 0
.opacity-background
  width: 100%
  height: 100vh
  position: relative
.main-background-image
  position: absolute
  left: 0;
  z-index: 5
.text-content
  position: absolute;
  left: 50%;
  will-change: transform;
  font-weight: normal;
  border-radius: 15rpx;
  z-index: 5
  text-align: left;
  display: block;
  .icon-yidong
    position: absolute;
.createTime
  position: absolute
  right: 15rpx
  top: 955rpx
  color: #EEE
  font-size: 22rpx
.white-space
  height: 80px;
  width: 100%;
  z-index: 4
  background: white;
  position: absolute;
  top: 0;
</style>