<script>
export default {
  created () {
    this.getBookMarkInfo()
  }
}
</script>

<style>


.container {
  height: 100%;
}
/* this rule will be remove */
/**
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}
 */
</style>
